<div Class="rz-p-0 rz-p-md-12">
    <RadzenCard Variant="Variant.Filled" Class="rz-my-12 rz-mx-auto" Style="max-width: 420px">
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
            <div class="d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-crown" style="font-size:75px; color:var(--rz-warning)"></i>
            </div>
            <RadzenStack Gap="0">
                <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-display-flex rz-mt-2 rz-my-0">You are free user please consider upgrading for better experience</RadzenText>
                <RadzenButton class="rz-mt-4" ButtonStyle="ButtonStyle.Warning" Style="font-size:14px;" Variant="Variant.Filled">
                    Check pricings <i class="fa-solid fa-arrow-right"></i>
                </RadzenButton>
            </RadzenStack>
        </RadzenStack>
    </RadzenCard>
</div>